venv
.idea
__pycache__/
virt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# dependencies
/react-frontend/node_modules
/react-frontend/package-lock.json
/react-frontend/package.json
/.pnp
.pnp.js
node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
