.outerContainerStyle {
    border-radius: 10px;
    outline: 1px solid #1abc9c;
    perspective: 1px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 25%;
}

.centerButton {
    margin: 10px calc(50% - 125px);
    display: block;
}

.inputBoxStyle {
    margin: 10px auto;
}

.headerStyle {
    padding: 25px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    margin: 0 auto;
}
