.headerStyle {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    margin: 0 auto;
}
.drillDown {
    margin-left: 10px;
    width: 100%;
    float: left;
    text-align: center;
}
.link {
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
}
.search_box{
    margin-left: 10px;
    margin-top: 10px;
    max-width: 25%;
    min-width: 200px;
    float: left;
}
