.time_selector{
    margin: 5px auto 5px;
}
.percent_selector{
    float: right;
    margin: 5px;
}
.buttongroup-container {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.headerStyle {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    margin: 0 auto;
}
.search_box{
    margin-left: 10px;
    margin-top: 10px;
    max-width: 25%;
    min-width: 200px;
    float: left;
}
.purchase_style {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.center_horizontal {
    margin: 0 auto;
}
.center_drop {
    display: block;
    margin: 10px auto 0;
}
.submit_btn {
    margin: 10px auto 0 !important;
    float: right;
}

.sec_dist {
    width: 50%;
    float: left;
}

.sector_dist {
    width: 50%;
    float: right;
}

.search_box{
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 25%;
    min-width: 200px;
    float: left;
}

.search_container{
    width: 100%;
}