{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/about_styles.css">
{% endblock stylesheet %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.1.6/js/dx.all.js"></script>
    <script src="/static/about.js"></script>
{% endblock scripts %}

{% block list_elems %}
    <li><a href="personalInv">Personal Investments</a></li>
    <li><a href="s_and_p">S&P 500</a></li>
    <li><a href="research">Research Securities</a></li>
    <li style="float:right"><a class="active" href="about">About</a></li>
{% endblock list_elems %}

{% block content %}
<div class="about-section">
  <h1>About This Website</h1>
  <p>My name is Thomas Mactaggart and I'm a Computer Engineering and Computer Science major at Northeastern university.
  This is a project I've been working on since July 2020 to help research and manage investment portfolio. The goal is to replace
  the old style excel document used to manage investments. Feel free to take a look around and make an account to log your investments
      if you'd like.  If you find a bug or a glitch in the site, email me at mactaggart.thomas@gmail.com. A note about data storage and privacy:
  any data you enter into the Portfolio page (i.e. sales and purchases of stocks) will be stored in an AWS database instance. I am the only one with
  access to the password and thus the database information. I am not doing anything with the data outside of this website, once again feel free to email
  me with any questions.</p>
</div>
<h2 style="text-align:center">Pages</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename = 'images/personalInvestments.jpeg') }}" alt="Personal Investments" style="width:100%">
      <div class="container">
        <h2>Personal Investments</h2>
        <p>Sign in to manage your portfolio or view a sample</p>
        <p><button onclick="location.href='/personalInv'" type="button" class="button">Personal Investments</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename = 'images/s&p500.jpg') }}" alt="S&P500" style="width:100%">
      <div class="container">
        <h2>S&P500</h2>
        <p>Take a look at the S&P500 to see how the securities are performing today</p>
        <p><button onclick="location.href='/s_and_p'" type="button" class="button">S&P500</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename = 'images/research.jpg') }}" alt="Research" style="width:100%">
      <div class="container">
        <h2>Research</h2>
        <p>Research securities and compare past performance</p>
        <p><button onclick="location.href='/research'" type="button" class="button">Research</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}