<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Default title{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/oldStatic/base_styles.css">
        <link rel="shortcut icon" href="/react-frontend/src/images/favicon.ico">
        {% block stylesheet %} {% endblock stylesheet %}
        {% block scripts %} {% endblock scripts %}
    </head>
    <body>
        <ul>
            {% block list_elems %} {% endblock list_elems %}
        </ul>
        {% block content %}{% endblock content %}
    </body>
</html>