{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/oldStatic/create_portfolio_styles.css">
{% endblock stylesheet %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.1.6/js/dx.all.js"></script>
    <script src="/oldStatic/create_portfolio.js"></script>
{% endblock scripts %}

{% block list_elems %}
    <li><a class="active" href="personalInv">Personal Investments</a></li>
    <li><a href="s_and_p">S&P 500</a></li>
    <li><a href="research">Research Securities</a></li>
    <li style="float:right"><a href="about">About</a></li>
{% endblock list_elems %}

{% block content %}
    <div class="headerStyle">
        <h1>Create a new portfolio</h1>
    </div>
    <div id="loginContainer" class="outerContainerStyle">
        <div id="usernameBox" class="inputBoxStyle"></div>
        <div id="passwordBox" class="inputBoxStyle"></div>
        <div id="repeatPassword" class="inputBoxStyle"></div>
        <div id="createAcct" class="centerButton"></div>
    </div>

{% endblock content %}