body {
  min-height: 100vh;
}
#root {
  height: 100vh;
}
h2 {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

.searchContainer{
    margin: 5px;
    min-width: 300px;
    max-width: 25%;
}

.search_box{
    margin-right: 5px;
    min-width: 200px;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.submit_button{
    max-width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.chart_container{
    width: 90%;
    height: 50%;
}